$primary-background: #1d1d1d;
$secondary-background: #2b2b2b;
$text: #f2f2f2;
$title: #ded0b4;
$highlight: #be5353;
$huge-heading: 9rem;
$huge-sub-heading: 5.6rem;
$small: 1.6rem;
$normal: 2rem;
$medium: 2.8rem;
$large: 3.6rem;
$xtra-large: 4.2rem;
$xx-large: 5rem;
$ds-bkgr: url('images/DS_IMAGE.png');
$ds-bkgr-sm: url('images/ds-mobile.png');
