/* Hero section */

.hero {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 65% auto auto;
  justify-items: center;
  align-items: center;
  padding-top: 10rem;
  height: 90dvh;

  button {
    border: none;
    background-color: #e31c25;
    font-size: $medium;
    padding: 1rem 2.5rem;
    color: $text;
    max-width: 500px;
    border-radius: 30px;

    &:hover {
      background-color: $text;
      color: $highlight;
    }
  }

  .social-container {
    width: 20%;
    flex: 2;
  }

  header {
    justify-content: space-evenly;
    flex: 4;
  }

  a {
    padding: 1rem 2rem;
  }
}

.hero span {
  color: $text;
  font-size: $normal;
}
