.card-title {
  font-size: $medium;
  color: $text;
}

.card-excerpt {
  font-size: $normal;
  color: $text;
  flex: 2;
}

.projects {
  .article-container {
    padding: 4rem 0rem;
  }
}

.about {
  height: 100%;
  .card-title {
    margin-bottom: 4rem;
  }
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 20%;

  img {
    max-width: 3rem;
  }
}

.article-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4rem;

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 9rem;
    width: 50%;
    height: 50rem;

    .social-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      flex: 2;

      img {
        width: 2rem;
        max-height: 2rem;
        margin: 0rem 2rem;
      }
    }
  }

  article:first-child {
    border-right: 1px solid #f2f2f2;
  }

  .card-title {
    color: $highlight;
  }

  p {
    max-width: 40rem;
  }

  img {
    width: 50%;
  }
}
/* Contact */
.black-bar {
  width: 100vw;
  height: 8vh;
}
.contact {
  height: 80dvh;
  .article-divider {
    flex-direction: column;
    align-items: center;
    header {
      margin: 0;
      padding-top: 0;
    }

    article {
      align-items: center;
    }
    article:first-child {
      border-right: none;
    }
  }
}

.contact-form {
  min-width: 45%;
}

.remove-height-10 {
  height: 95%;
}

.adjust-padding {
  padding-top: 8dvh;
}

.cover {
  object-fit: cover;
}
