.card-title {
  font-size: $medium;
  color: $text;
}

.big-red {
  font-size: $xtra-large;
  color: $highlight;
  font-weight: bold;
}

.big-text {
  font-size: $large;
  color: $text;
}

.card-excerpt {
  font-size: $medium;
  color: $text;
  height: 175px;
}

.article-divider {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  gap: 4rem;
  padding-top: 6%;
}

.card-title {
  color: $highlight;
}

.black-bar {
  width: 100vw;
  height: 8vh;
}

.remove-height-10 {
  height: 95%;
}

.adjust-padding {
  padding-top: 8dvh;
}

.cover {
  object-fit: cover;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 20%;

  img {
    max-width: 3rem;
  }
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  background-color: #757575;
  background-image: url('/images/ocean-bkgr.JPG');
  background-size: cover;
  background-blend-mode: multiply;
}
