@import 'config';

html,
body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // outline: 1px solid red;
}

body {
  background-color: $primary-background;
  min-height: 100vh;
  padding-top: 8dvh;
}

input {
  font-size: 100%;
}
main {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}

/* Default styles for mobile devices */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8dvh;
  min-width: 100vw;
  background: rgba(29, 29, 29, 0.8);
  mix-blend-mode: normal;
  backdrop-filter: blur(8px);
  padding: 0rem 7rem;
}

header {
  width: 100%;
}

h1 {
  color: $text;
  font-size: $huge-heading;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

h2,
h3 {
  color: $text;
  font-size: $huge-sub-heading;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h4 {
  color: #f2f2f2;
  font-size: $huge-sub-heading;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  padding: 4rem 0;
}

h5 {
  margin-bottom: 2rem;
}

h6 {
  color: $title;
  font-size: 7rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

section {
  display: grid;
  grid-template-columns: auto;
  width: 90%;
  max-width: 1600px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 2rem;

  width: 100%;
}

li {
  list-style: none;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: $text;
  background-color: $primary-background;
  color: $text;
  font-size: $large;
  width: 100%;
  padding-bottom: 0.8rem;
  margin-bottom: 40px;

  &:focus {
    outline: 0;
    border-width: 0 0 4px;
    border-color: $title;
    font-size: $large;
    background-color: $primary-background;
  }

  &::placeholder {
    color: $text;
    background-color: $primary-background;
  }
}

hr {
  display: none;
}

input:last-child {
  margin-bottom: 8rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: $title;
}
.none {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}

@import 'nav';
@import 'hero';
@import 'large-card';
@import 'utilities';
@import 'carousel';
@import 'buttons';
@import 'case-study';
@import 'contact';
@import 'mobile';
